<div class="container">
  <div class="amazon-haul-topbar">
    <div class="navigation">
      <div class="haul-dropdown">
        <img src="assets/logo-images/haul-beta-logo-subnav.png" alt="" width="75px">
      </div>
      <nav>
        <li>Crazy Low 🔥</li>
        <li>Women</li>
        <li>Men</li>
        <li>Kids</li>
        <li>Home</li>
        <li>Electronics</li>
        <li>Beauty</li>
        <li>Kitchen</li>
        <li>Home Improvement</li>
        <li>Accessories</li>
      </nav>
    </div>

  </div>

</div>
