<div class="footer">


  <div class="footer-links">
    <table>
      <ul class="get-to-know-us">
        <li class="title">Get to Know Us</li>
        <li>Careers</li>
        <li>Amazon NewsLetter</li>
        <li>About Amazon</li>
        <li>Accessibility</li>
        <li>Sustainability</li>
        <li>Press Center</li>
        <li>Investor Relations</li>
        <li>Amazon Devices</li>
        <li>Amazon Science</li>
      </ul>
      <ul class="make-money-with-us">
        <li class=title>Make Money with Us</li>
        <li>Sell on Amazon</li>
        <li>Sell apps on Amazon</li>
        <li>Supply to Amazon</li>
        <li>Protect & Build Your Brand</li>
        <li>Become an Affiliate</li>
        <li>Become a Delivery Driver</li>
        <li>Start a Package Delivery Business</li>
        <li>Advertise Your Products</li>
        <li>Self-Publish with Us</li>
        <li>Become an Amazon Hub Partner</li>
        <li>See More Ways to Make Money</li>
      </ul>
      <ul class="amazon-payment-products">
        <li class=title>Amazon Payment Products</li>
        <li>Amazon Visa</li>
        <li>Amazon Store Card</li>
        <li>Amazon Secured Card</li>
        <li>Amazon Business Card</li>
        <li>Shop with Points</li>
        <li>Credit Card Marketplace</li>
        <li>Gift Cards</li>
        <li>Amazon Currency Converter</li>
      </ul>
      <ul class="let-us-help-you">
        <li class=title>Let Us Help You</li>
        <li>Your Account</li>
        <li>Your Orders</li>
        <li>Shipping Rates & Policies</li>
        <li>Amazon Prime</li>
        <li>Returns & Replacements</li>
        <li>Manage Your Content and Devices</li>
        <li>Recalls and Product Safety Alerts</li>
        <li>Registry & Gift List</li>
        <li>Help</li>
      </ul>
    </table>
  </div>

  <div class="footer-end">
    <hr>

    <img src="assets/amazon.png" alt="" width="100px">

  </div>
</div>
<div class="footer2">
  <div class="footer2-links">
    <table>
      <ul class="row">
        <li>
          <a href="https://music.amazon.com/?ref=dm_aff_amz_com">
            <div class="list-item">
              <span>Amazon Music</span>
            </div>
            <div class="list-item-description">
              <span>Stream millions of songss</span>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="">
            <div class="list-item">
              <span>Amazon Business</span>
            </div>
            <div class="list-item-description">
              <span>Everything For Your Business</span>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.goodreads.com/">
            <div class="list-item">
              <span>Goodreads</span>
            </div>
            <div class="list-item-description">
              <span>Book reviews & recommendations</span>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="">
            <div class="list-item">
              <span>Amazon Resale</span>
            </div>
            <div class="list-item-description">
              <span>Great Deals on Quality Used Products</span>
            </div>
          </a>
        </li>
      </ul>
      <ul class="row">
        <li>
          <a href="https://advertising.amazon.com/?ref=footer_advtsing_amzn_com">
            <div class="list-item">
              <span>Amazon Ads</span>
            </div>
            <div class="list-item-description">
              <span>Reach customers wherever they spend their time</span>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="">
            <div class="list-item">
              <span>Amazon Fresh</span>
            </div>
            <div class="list-item-description">
              <span>Groceries & More Right To Your Door</span>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.imdb.com/">
            <div class="list-item">
              <span>IMDb</span>
            </div>
            <div class="list-item-description">
              <span>Movies, TV & Celebrities</span>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.wholefoodsmarket.com/">
            <div class="list-item">
              <span>Whole Foods Market</span>
            </div>
            <div class="list-item-description">
              <span>America's Healthiest Grocery Store</span>
            </div>
          </a>
        </li>
        <li>
          <a href="https://ring.com/neighbors">
            <div class="list-item">
              <span>Neighbors App</span>
            </div>
            <div class="list-item-description">
              <span>Real-Time Crime & Safety Alerts</span>
            </div>
          </a>
        </li>
      </ul>
      <ul class="row">
        <li>
          <a href="https://www.6pm.com/">
            <div class="list-item">
              <span>6pm</span>
            </div>
            <div class="list-item-description">
              <span>Score deals on fashion brands</span>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="">
            <div class="list-item">
              <span>AmazonGlobal</span>
            </div>
            <div class="list-item-description">
              <span>Ship Orders Internationally</span>
            </div>
          </a>
        </li>
        <li>
          <a href="https://pro.imdb.com/signup/index.html?u=http%3A%2F%2Fpro.imdb.com%2F%3Fref_%3Damzn_nav_ftr">
            <div class="list-item">
              <span>IMDbPro</span>
            </div>
            <div class="list-item-description">
              <span>Get Info Entertainment Professionals Need</span>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.woot.com/">
            <div class="list-item">
              <span>Woot!</span>
            </div>
            <div class="list-item-description">
              <span>Deals and Shenanigans</span>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="">
            <div class="list-item">
              <span>Amazon Subscription Boxes</span>
            </div>
            <div class="list-item-description">
              <span>Top subscription boxes - right to your door</span>
            </div>
          </a>
        </li>
      </ul>
      <ul class="row">
        <li>
          <div class="list-item">
            <span>AbeBooks</span>
          </div>
          <div class="list-item-description">
            <span>Books, art & collectibles</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>Home Services</span>
          </div>
          <div class="list-item-description">
            <span>Experienced Pros Happiness Guarantee</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>Kindle Direct Publishing</span>
          </div>
          <div class="list-item-description">
            <span>Indie Digital & Print Publishing Made Easy</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>Zappos</span>
          </div>
          <div class="list-item-description">
            <span>Shoes & Clothing</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>PillPack</span>
          </div>
          <div class="list-item-description">
            <span>Pharmacy Simplified</span>
          </div>
        </li>
      </ul>
      <ul class="row">
        <li>
          <div class="list-item">
            <span>ACX</span>
          </div>
          <div class="list-item-description">
            <span>Audiobook Publishing Made Easy</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>Amazon Web Services</span>
          </div>
          <div class="list-item-description">
            <span>Scalable Cloud Computing Services</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>Amazon Photos</span>
          </div>
          <div class="list-item-description">
            <span>Unlimited Photo Storage Free With Prime</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>Ring</span>
          </div>
          <div class="list-item-description">
            <span>Smart Home Security Systems</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>Amazon Renewed</span>
          </div>
          <div class="list-item-description">
            <span>Like-new products you can trust</span>
          </div>
        </li>
      </ul>
      <ul class="row">
        <li>
          <div class="list-item">
            <span>Sell on Amazon</span>
          </div>
          <div class="list-item-description">
            <span>Start a Selling Account</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>Audible</span>
          </div>
          <div class="list-item-description">
            <span>Listen to Books & Original Audio Performances</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>Prime Video Direct</span>
          </div>
          <div class="list-item-description">
            <span>Video Distribution Made Easy</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>eero Wifi</span>
          </div>
          <div class="list-item-description">
            <span>Stream 4K Video in Every Room</span>
          </div>
        </li>
      </ul>
      <ul class="row">
        <li>
          <div class="list-item">
            <span>Veeqo</span>
          </div>
          <div class="list-item-description">
            <span>Shipping Software Inventory Management</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>Box Office Mojo</span>
          </div>
          <div class="list-item-description">
            <span>Find Movie Box Office Data</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>Shopbop</span>
          </div>
          <div class="list-item-description">
            <span>Designer Fashion Brands</span>
          </div>
        </li>
        <li>
          <div class="list-item">
            <span>Blink</span>
          </div>
          <div class="list-item-description">
            <span>Smart Security for Every Home</span>
          </div>
        </li>
      </ul>

    </table>
  </div>
</div>
