.footer {
  height: 75%;
  background-color: #212f46;
  align-items: center;
}

.footer2 {
  height: 79%;
  background-color: #0f1111;
}

table {
  display: flex;
  font-family: Amazon;
}

table ul {
  list-style-type: none;
  font-size: 70%;
  color: #dddddd;
}

.title {
  font-size: 110%;
  font-weight: bold;
  color: white;
}
