<div class="customer-password-reset-page">
    <img class="amazon-authentication-logo" src="assets/logo-images/amazon-authentication-logo.jpg" routerLink=""
      alt="" />


 <div class="authentication-error-block">
  <div class="authentication-error-message" *ngIf="authErrorMessage">
    <div class="problem-error">
      <img class="error-icon" src="assets/logo-images/errors-icon.svg" />
      <span class="problem-text">There was a problem</span>
    </div>
    <div class="error">{{ authErrorMessage }}</div>
  </div>
</div>



    <div class="reset-password-container">
      <div class="span-create-new-password">
        <span>Create new password</span>
    <div class="new-password-message">
  We'll ask for this password whenever you Sign-In.
</div>
      </div>
     
  
      <form [formGroup]="passwordResetForm"  class="form-password-reset" (ngSubmit)="onSubmit()" novalidate>
        <div class="new-password-field">
           <div class="span-new-password ">
            <span>New Password</span>
           <input 
            class="inputPasswordReset" 
            autocomplete="off" 
            type="password" 
            name="newPassword"
            formControlName="newPassword"
            id="newPassword"
            required 
            (input)="onInputChange()" 
            (focus)="onInputFocus()"
            [ngClass]="{'invalid':  submitted && passwordResetForm.get('newPassword')?.invalid }"
            [class.error-border]="submitted && passwordResetForm.get('newPassword')?.invalid"/>


         <div class="password-reset-errors"
            *ngIf="submitted && passwordResetForm.get('newPassword')?.hasError('required')">
            <img src="assets/logo-images/errors-icon.svg" alt="">
            <small>Enter your password</small>
          </div>

    <div class="password-reset-errors" *ngIf="submitted && passwordResetForm.get('newPassword')?.hasError('minlength')">
  <img src="assets/logo-images/errors-icon.svg" alt="">
  <small>Passwords must be at least 6 characters</small>
</div>    


    <div class="password-reset-errors" *ngIf="submitted && passwordResetForm.get('newPassword')?.hasError('pattern')">
  <img src="assets/logo-images/errors-icon.svg" alt="">
  <small>Passwords must contain at least one uppercase letter, one number, and one special character</small>
</div>

        </div>
         </div>

        <div class="re-enter-password-field">
     <div class="span-re-enter-password">
            <span>Re-enter Password</span>
           </div>
          
          <input 
            class="inputPasswordReset" 
            type="password" 
            name="confirmNewPassword"
            formControlName="confirmNewPassword"
            id="confirmNewPassword"
            required 
            autocomplete="off" 
            (input)="onInputChange()" 
            (focus)="onInputFocus()"
            [ngClass]="{'invalid': submitted && passwordResetForm.get('confirmNewPassword')?.invalid }"
                [class.error-border]="submitted && passwordResetForm.get('confirmNewPassword')?.invalid"/>

     
          <div class="password-reset-errors"
            *ngIf="submitted && passwordResetForm.get('confirmNewPassword')?.hasError('required')">
            <img src="assets/logo-images/errors-icon.svg" alt="">
            <small>Please re-enter your password</small>
          </div>
          <div class="password-reset-errors"
            *ngIf="submitted && passwordResetForm.get('confirmNewPassword')?.hasError('mismatch')">
            <img src="assets/logo-images/errors-icon.svg" alt="">
            <small>Passwords do not match</small>
          </div>
        </div>
      
          <div class="save-changes-and-sign-in">
            <button type="submit">Save changes and Sign-In</button>
          </div>
      </form>
  
    </div>
  <div class="password-reset-tips">
    <span>Secure password tips:</span>
    <ul>
    <li>Use at least 6 characters with a combination of<br>  numbers, letters and special characters.</li>
    <li>Do not use the same password you have<br>  used with us previously.</li>
    <li>Do not use dictionary words, your name, e- <br> mail address,mobile phone number or <br>  other personal information that can be <br>  easily obtained.</li>
    <li>Do not use the same password for multiple<br>  online accounts.</li>
    </ul>
  </div>
  
    <app-auth-footer></app-auth-footer>
  </div>
  