<div class="customer-password-reset-page">
    <img class="amazon-authentication-logo" src="assets/logo-images/amazon-authentication-logo.jpg" routerLink=""
      alt="" />
    <div class="reset-password-container">
      <div class="span-create-new-password">
        <span>Create new password</span>
    <div class="new-password-message">
  We'll ask for this password whenever you Sign-In.
</div>
      </div>
     
  
      <form [formGroup]="loginForm" class="form-password-reset" novalidate>
        <div class="new-password-field">
           <div class="span-new-password ">
            <span>New Password</span>
           </div>
          
          <input 
            class="inputlogin" 
            autocomplete="off" 
            type="password" 
            required 
            formControlName="passwordReset"
            (input)="onInputChange()" 
            (focus)="onInputFocus()"
            [ngClass]="{'invalid': errorMessage && submitted}" />
  
        </div>
<div class="re-enter-password-field">
     <div class="span-re-enter-password">
            <span>Re-enter Password</span>
           </div>
          
          <input 
            class="inputlogin" 
            autocomplete="off" 
            type="password" 
            required 
            formControlName="re-enterPassword"
            (input)="onInputChange()" 
            (focus)="onInputFocus()"
            [ngClass]="{'invalid': errorMessage && submitted}" />
</div>
        <div class="error-message" *ngIf="errorMessage && submitted">
            <img class="error-icon" src="assets/logo-images/errors-icon.svg" alt="">
            {{errorMessage}}
          </div>
      
          <div class="save-changes-and-sign-in">
            <button type="submit">Save changes and Sign-In</button>
          </div>
      </form>
  
    </div>
  
  
    <app-auth-footer></app-auth-footer>
  </div>
  