.toolbar1 {
  background-color: black;
}

a:link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  border: 1px solid white;
  padding: 2px;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:active {
  color: #1a98ff;
}

.toolbar2 {
  height: 3.2em;
  font-size: 14px;
  width: 100%;
  font-family: Amazon;
  justify-content: space-evenly;
  background-color: #212f46;
}

.logo {
  height: 60px;
  cursor: pointer;
}

.logo:hover {
  border: 1px solid white;
}

input {
  height: 39px;
  border: none;
  width: 700px;
  font-family: Amazon;

}

input:active {
  color: #1a98ff;
}



//Nav-Sign In Account Styling

.nav-sign-account-wrapper {
   align-items: flex-start;
   color: white;
  cursor: pointer;

  font-size: 12px;
  font-family: Amazon;
  margin-left: 120px;
  margin-top: 23px;
}

.nav-sign-account-text{
 color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2px;
  font-size: 12px;
  font-family: Amazon;
  color: white;
  cursor: pointer;

}
.nav-sign-account-text b {
  font-size: 14px;
  font-family: Amazon;
  transform: translate(-1px, -30px);

}

.nav-sign-account-wrapper:hover {
  border: 1px solid white;
  border-radius: 2px;

}





//Nav Returns and Orders Styling

.nav-return-orders {
  color: white;
  margin-left: 35px;
  margin-top: 24px;
}

.nav-return-orders:hover {
  border: 1px solid white;
}

.nav-return-orders strong {
  font-size: 14px;
  font-family: Amazon;
  transform: translate(-1px, -30px);
}

.nav-return-orders div {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2px;
  font-size: 12px;
  font-family: Amazon;
  color: white;
  cursor: pointer;
}

.login {
  margin-left: 13px;
  margin-bottom: 3px;
  font-family: Amazon;
}

.sidenav-content {
  font-family: Amazon Ember;
  min-height: 650px;
}

.sidebarmenus {
  font-family: Amazon Ember;
  margin-left: 27px;
}

.sidebarsubmenus {
font-family: Amazon;
}

.dropdown-button button {
  height: 39px;
  min-width: 60px;
  color: black;

border-radius: 0%;
  font-family: Amazon;
  background-color: #d3d3d3;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.arrow_drop_down {
  color: #000000;
}
.dropdown-button button:hover {
  border: 1px solid white;
}



.dropdown-button button:active {
border: 2px solid rgb(255, 153, 0);
}

.toolbar2 .drawer-button mat-icon {
  color: white;
}

.toolbar2 {
  color: white;
  font-family: Amazon;
}

.drawer-button {
  font-family: Amazon;
}

.drawer-opener:hover {
  width: 50px;
  border: 1px solid white;
}

.search-bar-wrapper{
display: flex;
align-items: center;
max-width: 700px;
border: 1px solid #ccc;
overflow: hidden;
background-color: white;
margin-left: 180px;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
 border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;
}

.search-icon {
  background-color: #ffce12;
  width: 50px;
  height: 39px;

  border: none;
  cursor: pointer;
 align-items: center;
 justify-content: center;

}

.search-icon:hover {
  background-color: #f8bd19;
}
.search-icon:active{


border: 2px solid rgb(255, 153, 0);


}

.search-bar-wrapper:active{
border: 2px solid rgb(255, 153, 0);


}


.drawer{

  width: 350px;

}

.sidebar-sign-in{
  background-color: #232F3E;
color: white;
text-align: center;
}
