<div class="topbar">
  <mat-toolbar class="toolbar1">
    <img class="logo" src="assets/amazon.jpg"  a routerLink="" alt="" />


    <div class="search-bar-wrapper">



<div class="dropdown-button">
 <button class="dropdown" mat-button [matMenuTriggerFor]="menu">
   All<mat-icon class="expand_more">expand_more</mat-icon>
 </button>
 <mat-menu #menu="matMenu">
 <button mat-menu-item>Books</button>
 <button mat-menu-item>Electronics</button>
 <button mat-menu-item>Fashion</button>
 <button mat-menu-item routerLink="/video-games">Video Games</button>
 </mat-menu>
</div>

<input type="search" placeholder="Search Amazon"/>

<button class="search-icon">
<mat-icon>search</mat-icon>
</button>

    </div>



    <div class="nav-sign-account">
      <div routerLink="/signin">
        <p>Hello, sign in</p>
        <strong>Account & Lists</strong>

      </div>
    </div>

<div class="nav-return-orders">
  <div routerLink="/orders">
    <p>Returns</p>
    <strong>& Orders</strong>
  </div>

</div>



  </mat-toolbar>

  <mat-toolbar class="toolbar2">
    <div class="drawer-opener"> <button class="drawer-button" (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon> All</button></div>

    <a routerLink="/gift-cards">Gift Cards</a>
    <a routerLink="/bestsellers">Best Sellers</a>
    <a routerLink="/stores">Amazon Basics</a>
    <a routerLink="/help">Customer Service</a>
    <a routerLink="/amazonprime">Prime</a>
    <a routerLink="/new-releases">New Releases</a>
    <a routerLink="/books">Books</a>
    <a routerLink="/music">Music</a>
    <a routerLink="/registries">Registry</a>
    <a routerLink="/home-garden-kitchen-furniture-bedding">Amazon Home</a>
    <a routerLink="/amazon-fashion">Fashion</a>
  </mat-toolbar>



  <mat-drawer-container autosize>
    <mat-drawer #drawer opened="false" mode="side">
      <mat-nav-list>
        <h3 class="sidebarmenus"><b>Trending</b></h3>
        <mat-list-item>

          <button routerLink="bestsellers" mat-button class="sidebarsubmenus">Best Sellers</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="new-releases" mat-button class="sidebarsubmenus">New Releases</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="movers&shakers" mat-button class="sidebarsubmenus"> Movers & Shakers </button>
        </mat-list-item>
        <hr>
        <h3 class="sidebarmenus"><b>Help & Settings</b></h3>
        <mat-list-item>
          <button routerLink="/youraccount" mat-button class="sidebarsubmenus">Your Account</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/signin" mat-button class="sidebarsubmenus">Sign In</button>
        </mat-list-item>




      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
