<div class="topbar">
  <mat-toolbar class="toolbar1">
    <img class="logo" src="assets/logo-images/amazon.png" a routerLink="" alt="" />


    <div class="search-bar-wrapper">
      <div class="dropdown-button">
        <button class="dropdown" mat-button [matMenuTriggerFor]="menu">
          All<mat-icon class="arrow_drop_down">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Books</button>
          <button mat-menu-item>Electronics</button>
          <button mat-menu-item>Fashion</button>
          <button mat-menu-item routerLink="/video-games">Video Games</button>
        </mat-menu>
      </div>

      <input type="search" placeholder="Search Amazon" />

      <button class="search-icon">
        <mat-icon>search</mat-icon>
      </button>

    </div>



    <div class="nav-sign-account-wrapper">
      <a class="nav-sign-account-text" routerLink="/signin">
        <span class="greeting" *ngIf="username">Hello {{ username }}</span>
        <span class="greeting" *ngIf="!username">Hello, Sign in</span>
        <span class="account-label"><strong>Account &amp; Lists</strong></span>
      </a>
    </div>

    <div class="nav-return-orders" routerLink="/orders">
      <span class="line">Returns</span>
      <span class="line" style="font-weight: bold;">& Orders</span>
    </div>


  </mat-toolbar>

  <mat-toolbar class="toolbar2">
    <div class="drawer-opener"> <button class="drawer-button" (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon> All
      </button></div>

    <a routerLink="/gift-cards">Gift Cards</a>
    <a routerLink="/bestsellers">Best Sellers</a>
    <a routerLink="/stores">Amazon Basics</a>
    <a routerLink="/help">Customer Service</a>
    <a routerLink="/amazonprime">Prime</a>
    <a routerLink="/new-releases">New Releases</a>
    <a routerLink="/books">Books</a>
    <a routerLink="/music">Music</a>
    <a routerLink="/registries">Registry</a>
    <a routerLink="/home-garden-kitchen-furniture-bedding">Amazon Home</a>
    <a routerLink="/amazon-fashion">Fashion</a>
  </mat-toolbar>



  <mat-drawer-container autosize>
    <mat-drawer class="drawer" #drawer opened="false" mode="side">
      <div class="sidebar-sign-in">
        <button routerLink="signin" mat-button class="sidebarsubmenus">Hello, sign In</button>
      </div>
      <mat-nav-list>


        <h3 class="sidebarmenus"><b>Trending</b></h3>
        <mat-list-item>

          <button routerLink="bestsellers" mat-button class="sidebarsubmenus">Best Sellers</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="new-releases" mat-button class="sidebarsubmenus">New Releases</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="movers&shakers" mat-button class="sidebarsubmenus"> Movers & Shakers </button>
        </mat-list-item>
        <hr>
        <h3 class="sidebarmenus"><b>Digital Content & Devices</b></h3>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Prime Video</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Amazon Music</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Echo & Alexa</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Amazon Nova</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Fire Tablets</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Fire TV</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Amzon Luna - Cloud Gaming</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Kindle E-readers & Books</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Audible Books & Originals</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Amazon Photos</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Amazon Appstore</button>
        </mat-list-item>
        <hr>
        <h3 class="sidebarmenus"><b>Shop by Department</b></h3>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Clothing, Shoes, Jewelry & Watches</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Amazon Fresh</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Whole Foods Market</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button class="sidebarsubmenus">Books</button>
        </mat-list-item>
        <hr>
        <h3 class="sidebarmenus"><b>Help & Settings</b></h3>
        <mat-list-item>
          <button routerLink="/youraccount" mat-button class="sidebarsubmenus">Your Account</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/signin" mat-button class="sidebarsubmenus">Sign In</button>
        </mat-list-item>




      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
      <div class="sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
