<div class="not-found-page">

  <mat-toolbar class="top-nav">
    <img
      class="logo"
      src="assets/logo-images/amazon.png"
      routerLink=""
      alt=""
    />
    <div class="search-bar-wrapper">
   

      <input type="search" placeholder="Search" [ngModel]="searchTerm" />
      <button class="search-icon" (click)="onSearch()">Go</button>
    </div>

  </mat-toolbar>
<div class="message">
   <img src="assets/pages/not-found/not-found-image/not-found.png" routerLink="" alt="404 Not Found" class="not-found-image">
</div>
<div class="dog-header">
<a href="https://www.aboutamazon.com/workplace/meet-the-dogs-of-amazon" target="_blank">
<img
  class="dog-image"
  [src]="selectedDogImage"
  alt="Dogs of Amazon">
</a>  
</div>



</div>
