.links{
    text-align: center;
    font-family: Amazon;
    font-size: 12px;
    transform: translateY(2px);
   
  
}
.links a{
    color:#2162a1;
    text-decoration: none;
    margin: 0 14px;
    
}

.copyright{
    color: gray;
    font-family: Amazon;
    font-size: 12px;
    margin-top: 12px;
    text-align: center;
 
    
}

.divider{
    border-top: 1px solid #ccc;
    margin: 20px 0;
}