<div class="topbar">

<mat-toolbar class="toolbar1" *ngIf="['/signin']">


<img  src="assets/amazon.jpg" a routerLink="" alt="" height="60px">

<input type="search" placeholder="Search Amazon">


<div class="container">
  <p class="signin" routerLink="/signin">Hello, sign in
    <strong class="A">Account & Lists</strong></p>


</div>

</mat-toolbar>

    <mat-toolbar class="toolbar2">


        <mat-icon class="menubutton">menu</mat-icon>
      <a routerLink="/gift-cards">Gift Cards</a>
        <a routerLink="/bestsellers">Best Sellers</a>
      <a routerLink="/stores">Amazon Basics</a>
      <a routerLink="/help">Customer Service</a>
      <a routerLink="/amazonprime">Prime</a>
        <a routerLink="/new-releases">New Releases</a>
        <a routerLink="/books">Books</a>
        <a routerLink="/music">Music</a>
        <a routerLink="/registries">Registry</a>
        <a routerLink="/home-garden-kitchen-furniture-bedding">Amazon Home</a>
        <a routerLink="/amazon-fashion">Fashion</a>
      </mat-toolbar>



</div>


