.toolbar1{

  background-color: black;
}

a:link{

  color: white;
  text-decoration: none;
}

a:visited{

  color: white;
  text-decoration: none;
}

.toolbar2 {


  height: 3.2em;
  font-size: 14px;
 justify-content: space-evenly;
 background-color: #212f46


}

input{
height: 3.1em;
width: 45em;
  margin-left: 21em;
  margin-top: -0.2em;

}

.AandL{
  font-size:13px;
}
.menubutton {

  color: white;
}

.signin{

  font-size: 12px;
  margin-top: -6px;
  margin-left: 9em;
  align-items: center;
  color: white;
}

.login{

  margin-left: 13px;
  margin-bottom: 3px;
}

