<div>
 <!--  <img class="amazonlogo"  src="assets/amazon.jpg" a routerLink="" alt="" height="60px"> -->
<div class="container">


  <span class="signin">Sign in</span>
  <br>
  <br>
  <span><strong>Email or mobile phone number</strong></span>
  <br>
  <input class="inputlogin" type = "text" placeholder = "Phone or Email" required pattern = "^([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})|(\d{3}-\d{3}-\d{4})$"/>
<br>
<br>
  <button class="continuebutton" type="submit">Continue</button>
<br>
<br>
  <p style="font-family: Amazon; font-size: 12px; font-weight: 400;">By continuing, you agree to Amazon's Conditions of <br>
    Use and Privacy Notice.</p>

    <p style="font-family: Amazon; font-size: 13px; font-weight: 400;">Need Help?</p>

<div class="container">

  <button class="account-create-button" routerLink="/register">Create your Amazon Account</button>
</div>
</div>

</div>
