<div>
  <img class="amazon-authentication-logo" src="assets/amazon-authentication-logo.jpg" a routerLink="" alt="">

  <div class="container">
    <div class="signin">
      <span>Sign in</span>
    </div>
    <div class="email">
      <span>Email or mobile phone number</span>
    </div>

    <br>
    <input class="inputlogin" type="text" placeholder="Phone or Email" required
      pattern="^([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})|(\d{3}-\d{3}-\d{4})$" />
    <br>
    <br>
    <button class="continuebutton" type="submit">Continue</button>
    <br>
    <br>
    <p style="font-family: Amazon; font-size: 12px; font-weight: 400;">By continuing, you agree to Amazon's Conditions
      of <br>
      Use and Privacy Notice.</p>

    <p style="font-family: Amazon; font-size: 13px; font-weight: 400;">Need Help?</p>



      <button class="account-create-button" routerLink="/register">Create your Amazon Account</button>

  </div>

</div>
