<div class="video-game-carousel">
  <div class="carousel-inner">

    <div class="carousel-item" *ngFor="let game of games; let i = index" [class.active]="i === currentIndex">

      <img [src]="game.imageUrl" alt="{{game.name}}" />
      <h4 style="font-family: Amazon;">{{game.name}}</h4>
    </div>
  </div>
  <button (click)="prev()" class="carousel-control prev">
    <img src="assets/left-arrow.svg"/>
  </button>
  <button (click)="next()" class="carousel-control next">
    <img src="assets/right-arrow.svg"/>
  </button>
</div>
