<div class="verify-account-page">
  <img class="amazon-authentication-logo" src="assets/amazon-authentication-logo.jpg" a routerLink="" alt="">
  <div class="verify-account-container">
    <div class="span-verify-email-address">
    <span>Verify Email Address</span>
    </div>
    <div class="span-one-time-password">
     <span>Enter OTP</span>
    </div>
<div class="form-verify-email">
  <input class="input-verification-code" type="text"  required
  pattern="^([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})|(\d{3}-\d{3}-\d{4})$"/>
<div class="submit-account-verification">
  <button type="submit">Create your Amazon Account</button>
</div>
</div>
<div class="verify-account-conditions-privacy">
  <p>By creating an account, you agree to Amazon's <a href="">Conditions
    of Use</a> and <a href="">Privacy Notice</a>.</p>
</div>
<div class="span-resend-one-time-password">
  <span>Resend OTP</span>
</div>


  </div>


</div>
