form span {
  font-size: 28px;
  margin-left: 30px;
  font-family: Amazon;
}

.registration-page {
  height: 100%;
  min-height: 1200px;
  background-color: rgb(255, 255, 255);
}

.registration-form {
  margin-top: 30px;
}

.amazonlogo {
margin-left: 43%;
cursor: pointer;
}

label {
  font-weight: bold;
margin-top: 20px;


}
.registration-container {
  position: relative;
text-align: center;
margin: 20px 260px;
  width: 57%;
  border-radius: 10px;
  border: 1px solid rgb(219, 217, 217);
}


.register-field-row{
  display: flex;
  margin: -30px 300px;
justify-content: center;
margin-top: 5px;
}

.register-field-row .register-field{
  margin-top: 35px;
 margin-left: 10%;
 margin-right: 10%;

}

.register-field-row .register-field .register-input{
   height: 10px;
  min-height: 28px;
  border: 1px solid rgb(136, 136, 138);
  border-radius: 3px;
width: 300px;
margin-top: 2px;
  font-family: Amazon;

}


hr {
  width: 86%;
  opacity: 40%;
}

#newsletter-checkbox {
  width: 40px;
 float: left;

}

.subscription-information h4{
font-size: 12px;
font-family: Amazon;
transform: translateY(-10px);
line-height: 18px;
}
.submitbutton {
  color: black;
  cursor: pointer;
  font-family: Amazon;
  border-color: 2px solid black;
  padding: 7px;
  width: 50%;
  height: 100%;
  background-color: #ffd814;

  border-radius: 20px;
  border: none;
}
.submit-form {
  text-align: center;
}

.submitbutton:hover {
  background-color: #d1b931fa;
}

.submitbutton:active {
  background-color: #e8b621fa;
  border: 3px solid turquoise;
}

.subscribe-to-newsletter-title h3
{
font-family: Amazon;
font-weight: bold;
font-size: 13px;
margin-left: 35px;
margin-top: 5px;
font-style: italic;
}

.newsletter-section
{

  background-color: aliceblue;
width: 55%;
margin: 4% 21.5%;
border: 1px solid rgb(170, 170, 170);
border-radius: 5px;

}
.terms-conditions{
  margin:20px 2px

}
.terms-conditions p{

  font-size: 13px;
   max-width: 300px;


  font-family: Amazon;
}

.terms-conditions a{
  color: #216281;
   text-decoration: none;
}

.terms-conditions a:hover{
  color: #123546;
   text-decoration: underline;
}


.business-login{
  margin:20px 15px;
}

.business-login h4{

  font-family: Amazon;
  margin: 0px 15px
 }

.business-login h4 a{
  color: #216281;
  text-decoration: none;
}

.business-login h4 a:hover{
color: #0b1a2e;
text-decoration: underline;
}

 .business-login .buy-for-work{

  font-weight: bold;
 }

 .existing-account h4{
  font-family: Amazon;
  margin-top: 20px;
text-decoration: none;

 }
 .existing-account a{
  color: #216281;
   text-decoration: none;
}
 .existing-account a:hover{
  color: #0b1a2e;
   text-decoration: underline;
}


 .register-field-row-terms-options{
  display: flex;
justify-content: center;

 }


//error handling

 .register-errors
{
 font-family: Amazon;
  color:#Ba0933;
margin-left: 4px;
transform: translateY(-2px);


}

.register-errors img
{
transform: translate(-3px,7px);

}

.error-border{
  border: 2.5px solid #Ba0933;
}
