
.sign-in-page{
font-family: Amazon;

}

.span-signin {
  font-size: 210%;
  margin-bottom: 10px;

}
.span-email-mobile {
  margin-top: 15px;
}

.span-email-mobile .password-text {
  font-weight: bold;
  position: relative;
}

.amazon-authentication-logo {
  width: 8%;
  position: relative;
  margin-left: 46.5%;
  margin-right: 46.5%;
  margin-top: 1%;
  cursor: pointer;
}

.inputlogin {
  border-radius: 6px;
  width: 100%;
  max-width: 270px;
  height: 100%;
  min-height: 30px;
  font-size: 13px;
  font-family: Amazon;
  border-radius: 3.5px;
  border: 1.5px solid rgb(132, 131, 131);
  background-color: rgb(248, 248, 248);
}

.inputlogin:focus {
  outline: none;
  box-shadow: 0 0 0.2px 3px rgb(181, 237, 255);
}

.sign-in-container {
  position: relative;
  margin: 1% 38% 3% 40%;

  border: 1px solid rgb(218, 217, 217);

  border-radius: 12px;
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 25px;
  height: 100%;
  min-height: 300px;
  width: 320px;
  max-width: 350px;
}

.submit-sign-in button {
  color: black;
  padding: 7px;
  width: 100%;
  max-width: 275px;
  height: 100%;
  background-color: #f8d00add;
  padding: 1px, 6px;
  border-radius: 18px;
  cursor: pointer;
  border: none;
  font-family: Amazon;
  margin-top: 21px;
}
.submit-sign-in button:hover {
  background-color: #efcc07fa;
}

.submit-sign-in button:active {
  background-color: #e8b621fa;
}

.submit-pass-key button:hover {
  background-color: #f9f9f9fa;
}
.submit-pass-key button:active {
  background-color: #f0fafe;
  border: 1px solid rgb(18, 180, 255);
}

.h4-new-member h4 {
  margin: 2px 3px 3px -72px;
  /* Space between the line and text */
  position: relative;
  font-family: Amazon;
  font-size: 10px;
  color: gray;
}

.h4-new-member {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 17px 175px;
}

.h4-new-member h4::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  min-width: 120px;
  transform: translate(-123px, 0px);
  border-top: 1px solid #ccc; /* Line color */
}

.h4-new-member h4::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(5px, 0px);
  width: 100%;
  min-width: 120px;
  border-top: 1px solid #ccc; /* Line color */
}

.submit-pass-key button {
  color: black;
  padding: 7px;
  width: 100%;
  max-width: 275px;
  height: 100%;
  background-color: rgb(251, 251, 251);
  padding: 1px, 6px;
  border-radius: 18px;
  cursor: pointer;
  border: 1px solid black;
  font-family: Amazon;
  margin-bottom: 25px;
  transform: translate(0px, -25px);
}

.change-email {
  
 
  margin-top: 20px;
}

.change-email span {
  cursor: pointer;
  color: #2162a1;
  margin-top: 20px;

}

.span-email-mobile .forgot-password-link {
  color: #2162a1;
  margin-left: 100px;
}

//Password Error Message

.inputlogin.invalid {
  border: 2px solid #c10015;
}
.error-message-enter-password {
  color: #c10015;
  font-size: 12px;

  transform: translate(5px, 0px);
}
.error-message-enter-password img {
  transform: translate(-5px, 8px);
}
.authentication-error-block{
  
  margin: 40px 0px 0px 650px;
 
}
.authentication-error-message {
  color: black;
  border: 2px solid#c10015;
  border-left: 15px solid #c10015;
  border-radius: 8px;
  max-width: 350px;
  height: 100px;
  

}

.authentication-error-message .problem-text {
  color: black;
  font-size: 18px;
  font-family: Amazon Ember;
margin: 10px 80px 5px 0px;

}
.authentication-error-message .error {
  color: rgb(0, 0, 0);
}
.error{
 
  transform: translate(21px, 20px);
  font-size: 15px;
}
.problem-error {
  transform: translate(25px, 8px);
}
.problem-error .error-icon{
  transform: translate(-6px, 6px);

}