<div class="top-brands-carousel">
  <div
  class="carousel-inner"
[style.transform]="'translateX(-' + currentIndex * (itemWidth + gap) + 'px)'"
  >
    <div class="carousel-item" *ngFor="let brand of brands; trackBy: trackByBrandId">
      <img [src]="brand.pictureUrl" alt="{{brand.name}}" />
      <h4 style="font-family: Amazon;">{{brand.name}}</h4>
    </div>
  </div>

  <button (click)="prev()" class="carousel-control prev">
    <img src="assets/logo-images/left-arrow.svg" />
  </button>
  <button (click)="next()" class="carousel-control next">
    <img src="assets/logo-images/right-arrow.svg" />
  </button>
</div>
