.top-brands-carousel {
  position: relative;
  width: 100%;
  height: 275px;
  max-width: 1150px;
  overflow: hidden;
  margin: auto;

  .carousel-inner {
    display: flex;
    transition: transform 0.4s ease-in-out;
    gap: 15px;
  }


  .carousel-item {
    /* Prevents images from stretching */
    flex: 0 0 auto;
    width: 200px; /* Adjust this based on the number of items shown */
    max-width: 220px; /* Set a maximum width for each image */

    cursor: pointer;

    img {
      border-radius: 8px;
       height: 240px;
       object-fit: cover;
      width: 100%;



    }

  }

  .carousel-control {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
      width: 45px;
    height: 80px;
  

    img {
      width: 20px;
      height: 20px;
    }

    &.prev {
      left: 5px;
    }

    &.next {
      right: 5px;
    }
  }
}

button {
  width: 55px;
  height: 100px;
}
