<div>
  <img class="amazonlogo" src="assets/th.jpg" a routerLink="" alt="" height="40px" />
  <div class="container">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <span class="createAccount">Create Account</span>
      <br />
      <br />
      <span><strong>First Name</strong></span>
      <br />
      <input class="inputlogin" type="text" formControlName="firstName" placeholder="First Name" name="lastName"
        required />
      <br />
      <span><strong>Last Name</strong></span>
      <br />
      <input class="inputlogin" type="text" formControlName="lastName" placeholder="Last Name" name="lastName"
        required />
      <br />
      <span><strong>Username</strong></span>
      <br />
      <input class="inputlogin" type="text" formControlName="username" placeholder="Username" name="username"
        required />
      <br />
      <span><strong>Email Address</strong></span>
      <br />
      <input class="inputlogin" type="email" formControlName="email" placeholder="Email Address" name="email"
        required />
      <br />
      <span><strong>Date of Birth</strong></span>
      <br />
      <input class="inputlogin" type="date" formControlName="dateOfBirth" placeholder="Date of Birth" name="DateofBirth"
        required />
      <br />
      <span><strong>Phone Number</strong></span>
      <br />
      <input class="inputlogin" type="tel" formControlName="phoneNumber" placeholder="Phone Number" name="phoneNumber"
        required />
      <br />
      <span><strong>Password</strong></span>
      <br />
      <input class="inputlogin" type="password" formControlName="password" placeholder="Password" name="password"
        required />
      <br />
      <span><strong>Confirm Password</strong></span>
      <br />
      <input class="inputlogin" type="password" formControlName="confirmPassword" placeholder="Confirm Password"
        name="confirmPassword" required />
      <br />
      <span><strong>Subscribe to Newsletter</strong></span>
      <br />
      <input class="inputlogin" type="checkbox" formControlName="subscribeToNewsLetter" name="subscribeToNewsLetter"
        required />
      <br />
      <button type="submit" class="submitbutton">Create your Amazon Account</button>
    </form>

  </div>
</div>
