form span{
  font-size: 30px;

  font-family: Amazon;
}

  .registration-page{
height: 100%;
min-height: 1000px;
background-color: rgb(255, 255, 255);
  }

  .registration-form{


      }

.amazonlogo {
  text-align: center;
}

label{

font-weight: bold;
margin: 10px;
padding-top: 2px;
text-align: left;

}
.registration-container {
  position: absolute;
  left: 35%;
  right: 35%;
  top: 1%;
  bottom: 20%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgb(219, 217, 217);
}


.register-input {
  height: 100%;
  min-height: 28px;
  border: 1px solid rgb(136, 136, 138);
  border-radius: 6px;
  width: 100%;
  max-width: 80%;
  font-family: Amazon;


}

.register-field{

  margin-top: 15px;
transform: translate(30px);
}

.submitbutton {
  color: black;
 font-family: Amazon;
  border-color:2px solid black;
  padding: 7px;
  width: 20.55em;
  height: 2.7em;
  background-color: #ffd814;
  cursor: pointer;
  padding: 1px, 6px;
  border-radius: 8px;
  border: none;
}
.submitbutton:hover {
  background-color: #d1b931fa;
}

.submitbutton:active {
  background-color: #e8b621fa;
  border: 3px solid turquoise;
}
