<div class="new-customer-account-page">
  <img class="amazon-authentication-logo" src="assets/amazon-authentication-logo.jpg" a routerLink="" alt="">
  <div class="new-customer-account-container">
    <div class="span-amazon-new-account">
      <span>Looks like you're new to Amazon</span>
    </div>
    <div class="change-email">
      <span routerLink="/signin">Change</span>
    </div>

    <div class="lets-create-an-account">

      <h4>Let's create an account using your email</h4>
    </div>

    <div class="proceed-to-account-create">

      <button routerLink="/register">Proceed to Create an Account</button>
    </div>

    <div class="existing-customer">

      <h4>Already a customer?</h4>
      <div class="existing-customer-sign-in">
         <h4 routerLink="/signin">Sign in with another email or mobile</h4>
      </div>

    </div>


  </div>


</div>
