<div class="password-assistance-page">
    <img class="amazon-authentication-logo" src="assets/logo-images/amazon-authentication-logo.jpg" routerLink=""
      alt="" />


<div class="authentication-error-block">
  <div class="authentication-error-message" *ngIf="authErrorMessage">
    <div class="problem-error">
      <img class="error-icon" src="assets/logo-images/errors-icon.svg" />
      <span class="problem-text">There was a problem</span>
    </div>
    <div class="error">{{ authErrorMessage }}</div>
  </div>
</div>


    <div class="password-assistance-container">
      <div class="span-password-assistance">
        <span>Password Assistance</span>
<div class="password-assistance">
    Enter the email address or mobile phone number associated with your Amazon account.
</div>

      </div>
      <div class="span-email-mobile">
        <span>Email or mobile phone number</span>
      </div>
  
  
      <form [formGroup]="PasswordAssistanceForm" (ngSubmit)="onSubmit()" class="form-password-assistance" novalidate>
        <div>
          <input 
            class="inputIdentifier" 
            autocomplete="off" 
            type="email" 
            required 
            formControlName="emailOrPhone"
            (input)="onInputChange()" 
            (focus)="onInputFocus()"
            [ngClass]="{'invalid': errorMessage && submitted}" />
      
          <div class="error-message" *ngIf="errorMessage && submitted">
            <img class="error-icon" src="assets/logo-images/errors-icon.svg" alt="">
            {{errorMessage}}
          </div>
      
          <div class="continue-password-assistance">
            <button type="submit">Continue</button>
          </div>
        </div>
      </form>
  
    </div>
  
  
    <app-auth-footer></app-auth-footer>
  </div>
  