<div class="sign-in-page">
    <img class="amazon-authentication-logo" src="assets/logo-images/amazon-authentication-logo.jpg" routerLink=""
      alt="" />
    <div class="sign-in-container">
      <div class="span-signin">
        <span>Password Assistance</span>
<div class="password-assistance">
    Enter the email address or mobile phone number associated with your Amazon account.
</div>

      </div>
      <div class="span-email-mobile">
        <span>Email or mobile phone number</span>
      </div>
  
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-sign-in" novalidate>
        <div>
          <input 
            class="inputlogin" 
            autocomplete="off" 
            type="email" 
            required 
            formControlName="emailOrPhone"
            (input)="onInputChange()" 
            (focus)="onInputFocus()"
            [ngClass]="{'invalid': errorMessage && submitted}" />
      
          <div class="error-message" *ngIf="errorMessage && submitted">
            <img class="error-icon" src="assets/logo-images/errors-icon.svg" alt="">
            {{errorMessage}}
          </div>
      
          <div class="continue-sign-in">
            <button type="submit">Continue</button>
          </div>
        </div>
      </form>
  
    </div>
  
  
    <app-auth-footer></app-auth-footer>
  </div>
  