<div class="sign-in-page">
  <img
    class="amazon-authentication-logo"
    src="assets/logo-images/amazon-authentication-logo.jpg"
    routerLink=""
    alt="Amazon Logo"
  />

  <!-- Backend authentication error -->
  <div class="authentication-error-message" *ngIf="authErrorMessage">
    <div class="problem-error">
      <img class="error-icon" src="assets/logo-images/errors-icon.svg" />
      <span class="problem-text">There was a problem</span>
    </div>
    <div class="error">{{ authErrorMessage }}</div>
  </div>

  <div class="sign-in-container">
    <div class="span-signin"><span>Sign in</span></div>
    <div class="change-email"><span routerLink="/signin">Change</span></div>

    <div class="span-email-mobile">
      <span class="password-text">Password</span>
      <span
        class="forgot-password-link"
        routerLink="/customer-forgot-password"
        >Forgot Password?</span
      >
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-sign-in" novalidate>
      <div>
        <input
        class="inputlogin"
        type="password"
        required
        formControlName="password"
        (input)="onPasswordInput()"
        [ngClass]="{
          'invalid': (loginForm.get('password')?.pristine && submitted)
        }"
      />

        <!-- Frontend validation errors -->
        <div
          class="error-message-enter-password"
          *ngIf="loginForm.get('password')?.hasError('required') && submitted "
        >
          <img class="error-icon" src="assets/logo-images/errors-icon.svg" alt="" />
          Enter your password
        </div>

        <div class="submit-sign-in">
          <button type="submit">Sign in</button>

          <div class="h4-new-member">
            <h4>or</h4>
          </div>

          <div class="submit-pass-key">
            <button routerLink="">Sign in with a passkey</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
