.video-games-container {
  height: 5000px;
}

.video-games-content {
  margin-left: 235px;
}

.video-games-navbar {
  background-color: #fafafa;
  height: 0.62%;
  border: 1px solid rgb(230, 230, 230);
}

.top-brands-carousel h3 {
  font-weight: 600;
  font-family: Amazon;
}

.explore-more-gaming h3 {
  font-weight: 600;
  font-family: Amazon;
}
.video-games-header h1 {
  color: rgb(228, 121, 17);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 31.5px;
  font-weight: 700;
  margin: 11px 15px;
}

.video-games-lists ul {
  list-style-type: none;
  display: flex;
}

.video-games-lists ul li {
  list-style-type: none;
  display: flex;
  margin-left: 25px;
  margin-top: -7px;
  font-size: 12px;
  font-family: Amazon;
}
.video-games-lists ul li a {
  text-decoration: none;
  color: #333333;
}
