<div class="video-games-container">
  <div class="video-games-navbar">
<div class="video-games-lists">
<ul>
  <li><a href="">Video Games</a></li>
  <li><a href="">PS5</a></li>
  <li><a href="">Xbox Series X|S</a></li>
  <li><a href="">Switch</a></li>
  <li><a href="">Nex Playground</a></li>
  <li><a href="">PS4</a></li>
  <li><a href="">PC</a></li>
  <li><a href="">Arcade Gaming</a></li>
  <li><a href="">Accessories</a></li>
  <li><a href="">VR</a></li>
  <li><a href="">Trade-In</a></li>
  <li><a href="">Deals</a></li>
  <li><a href="">Best Sellers</a></li>
  <li><a href="">New Releases</a></li>
  <li><a href="">Digital Games</a></li>
</ul>

</div>
  </div>
<div class="video-games-header">
  <h1>Video Games</h1>
</div>

<div class="filter-sidebar">

</div>

<div class="video-games-content">

  <div class="video-games-header-image">
<img  src="../assets/pages/video-games/video-games-header.png" alt="" width="100%">

  </div>

<div class="top-brands-carousel">
<h3>Top brands in Video Games</h3>

<top-brands-carousel></top-brands-carousel>
</div>

<div class="explore-more-gaming">
<h3>Explore more from Amazon in gaming</h3>

<explore-gaming-carousel></explore-gaming-carousel>
</div>

</div>

</div>
